<div class="row justify-content-center">
    <div class="col-11">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-nhanvien-heading" jhiTranslate="taisanApp.nhanvien.home.createOrEditLabel">Create or edit a Nhanvien</h2>
            <div class="row mt-3">
                <jhi-alert-error></jhi-alert-error>
                <!-- <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div> -->
                <div class="form-group col-lg-4 col-md-6 col-sm-12">
                    <label class="form-control-label" jhiTranslate="taisanApp.nhanvien.maNV" for="field_maNV">Ma NV</label>
                    <input type="text" class="form-control" name="maNV" id="field_maNV"
                           formControlName="maNV"/>
                    <div *ngIf="editForm.get('maNV')!.invalid && (editForm.get('maNV')!.dirty || editForm.get('maNV')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('maNV')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group col-lg-4 col-md-6 col-sm-12">
                    <label class="form-control-label" jhiTranslate="taisanApp.nhanvien.ten" for="field_ten">Ten</label>
                    <input type="text" class="form-control" name="ten" id="field_ten"
                           formControlName="ten"/>
                    <div *ngIf="editForm.get('ten')!.invalid && (editForm.get('ten')!.dirty || editForm.get('ten')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ten')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group col-lg-4 col-md-6 col-sm-12">
                    <label class="form-control-label" jhiTranslate="taisanApp.nhanvien.chucvu" for="field_chucvu">Chucvu</label>
                    <input type="text" class="form-control" name="chucvu" id="field_chucvu"
                           formControlName="chucvu"/>
                    <div *ngIf="editForm.get('chucvu')!.invalid && (editForm.get('chucvu')!.dirty || editForm.get('chucvu')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('chucvu')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group col-lg-4 col-md-6 col-sm-12">
                    <label class="form-control-label" jhiTranslate="taisanApp.nhanvien.diachi" for="field_diachi">Diachi</label>
                    <input type="text" class="form-control" name="diachi" id="field_diachi"
                           formControlName="diachi"/>
                </div>
                <div class="form-group col-lg-4 col-md-6 col-sm-12">
                    <label class="form-control-label" jhiTranslate="taisanApp.nhanvien.gioitinh" for="field_gioitinh">Gioitinh</label>
                    <!-- <input type="number" class="form-control" name="gioitinh" id="field_gioitinh"
                           formControlName="gioitinh"/> -->
                    <select formControlName="gioitinh" class="form-control" name="gioitinh" id="field_gioitinh">
                        <option value="0">Nam</option>
                        <option value="1">Nữ</option>
                        <option value="2">Khác</option>
                    </select>
                    <div *ngIf="editForm.get('gioitinh')!.invalid && (editForm.get('gioitinh')!.dirty || editForm.get('gioitinh')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('gioitinh')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('gioitinh')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group col-lg-4 col-md-6 col-sm-12">
                    <label class="form-control-label" jhiTranslate="taisanApp.nhanvien.sdt" for="field_sdt">Sdt</label>
                    <input type="text" class="form-control" name="sdt" id="field_sdt"
                           formControlName="sdt"/>
                    <div *ngIf="editForm.get('sdt')!.invalid && (editForm.get('sdt')!.dirty || editForm.get('sdt')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sdt')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sdt')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 11 }">
                        This field cannot be longer than 11 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group col-lg-4 col-md-6 col-sm-12">
                    <label class="form-control-label" jhiTranslate="taisanApp.nhanvien.phongban" for="field_phongban">Phongban</label>
                    <select formControlName="phongban" class="form-control" name="phongban" id="field_phongban">
                        <option *ngFor="let p of phongbanOptions" [ngValue]="p">{{Donvi[p]}}</option>
                    </select>
                    <div *ngIf="editForm.get('phongban')!.invalid && (editForm.get('phongban')!.dirty || editForm.get('phongban')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('phongban')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group col-lg-4 col-md-6 col-sm-12">
                    <label class="form-control-label" jhiTranslate="taisanApp.nhanvien.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                    <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group col-lg-4 col-md-6 col-sm-12">
                    <label class="form-control-label" jhiTranslate="taisanApp.nhanvien.ngayThamgia" for="field_ngayThamgia">Ngay Thamgia</label>
                    <div class="input-group">
                        <input id="field_ngayThamgia" type="text" class="form-control" name="ngayThamgia" ngbDatepicker  #ngayThamgiaDp="ngbDatepicker" formControlName="ngayThamgia"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="ngayThamgiaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>

                    <div *ngIf="editForm.get('ngayThamgia')!.invalid && (editForm.get('ngayThamgia')!.dirty || editForm.get('ngayThamgia')!.touched)">                                                                                                                                    
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ngayThamgia')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div class="mt-3">
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
