<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-nhanvien-kiemke-heading" jhiTranslate="taisanApp.nhanvienKiemke.home.createOrEditLabel">Create or edit a Nhanvien Kiemke</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taisanApp.nhanvienKiemke.daidien" for="field_daidien">Daidien</label>
                    <input type="text" class="form-control" name="daidien" id="field_daidien"
                           formControlName="daidien"/>
                    <div *ngIf="editForm.get('daidien')!.invalid && (editForm.get('daidien')!.dirty || editForm.get('daidien')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('daidien')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taisanApp.nhanvienKiemke.vaitro" for="field_vaitro">Vaitro</label>
                    <input type="number" class="form-control" name="vaitro" id="field_vaitro"
                           formControlName="vaitro"/>
                    <div *ngIf="editForm.get('vaitro')!.invalid && (editForm.get('vaitro')!.dirty || editForm.get('vaitro')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vaitro')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('vaitro')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taisanApp.nhanvienKiemke.nhanvien" for="field_nhanvien">Nhanvien</label>
                    <select class="form-control" id="field_nhanvien" name="nhanvien" formControlName="nhanvienId">
                        <option *ngIf="!editForm.get('nhanvienId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="nhanvienOption.id" *ngFor="let nhanvienOption of nhanviens; trackBy: trackById">{{nhanvienOption.ten}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('nhanvienId')!.invalid && (editForm.get('nhanvienId')!.dirty || editForm.get('nhanvienId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('nhanvienId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taisanApp.nhanvienKiemke.kiemkeTaisan" for="field_kiemkeTaisan">Kiemke Taisan</label>
                    <select class="form-control" id="field_kiemkeTaisan" name="kiemkeTaisan" formControlName="kiemkeTaisanId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="kiemkeTaisanOption.id" *ngFor="let kiemkeTaisanOption of kiemketaisans; trackBy: trackById">{{kiemkeTaisanOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
