<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-donvi-cungcap-heading" jhiTranslate="taisanApp.donviCungcap.home.createOrEditLabel">Create or edit a Donvi Cungcap</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taisanApp.donviCungcap.maDVCC" for="field_maDVCC">Ma DVCC</label>
                    <input type="text" class="form-control" name="maDVCC" id="field_maDVCC"
                           formControlName="maDVCC"/>
                    <div *ngIf="editForm.get('maDVCC')!.invalid && (editForm.get('maDVCC')!.dirty || editForm.get('maDVCC')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('maDVCC')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taisanApp.donviCungcap.ten" for="field_ten">Ten</label>
                    <input type="text" class="form-control" name="ten" id="field_ten"
                           formControlName="ten"/>
                    <div *ngIf="editForm.get('ten')!.invalid && (editForm.get('ten')!.dirty || editForm.get('ten')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('ten')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taisanApp.donviCungcap.diachi" for="field_diachi">Diachi</label>
                    <input type="text" class="form-control" name="diachi" id="field_diachi"
                           formControlName="diachi"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taisanApp.donviCungcap.soDienThoai" for="field_soDienThoai">So Dien Thoai</label>
                    <input type="text" class="form-control" name="soDienThoai" id="field_soDienThoai"
                           formControlName="soDienThoai"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taisanApp.donviCungcap.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
