<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="taisan">
            <h2><span jhiTranslate="taisanApp.taisan.detail.title">Taisan</span> {{taisan.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="taisanApp.taisan.maTaisan">Ma Taisan</span></dt>
                <dd>
                    <span>{{taisan.maTaisan}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.tenTaisan">Ten Taisan</span></dt>
                <dd>
                    <span>{{taisan.tenTaisan}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.tenRutgon">Ten Rutgon</span></dt>
                <dd>
                    <span>{{taisan.tenRutgon}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.model">Model</span></dt>
                <dd>
                    <span>{{taisan.model}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.serial">Serial</span></dt>
                <dd>
                    <span>{{taisan.serial}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.loaiTaisan">Loai Taisan</span></dt>
                <dd>
                    <span>{{taisan.loaiTaisan}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.mota">Mota</span></dt>
                <dd>
                    <span>{{taisan.mota}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.ngayNhan">Ngay Nhan</span></dt>
                <dd>
                    <span>{{taisan.ngayNhan}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.ngaySudung">Ngay Sudung</span></dt>
                <dd>
                    <span>{{taisan.ngaySudung}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.ngaySanxuat">Ngay Sanxuat</span></dt>
                <dd>
                    <span>{{taisan.ngaySanxuat}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.thoigianSudung">Thoigian Sudung</span></dt>
                <dd>
                    <span>{{taisan.thoigianSudung}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.ngayHethan">Ngay Hethan</span></dt>
                <dd>
                    <span>{{taisan.ngayHethan}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.haomon">Haomon</span></dt>
                <dd>
                    <span>{{taisan.haomon}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.nguyengia">Nguyengia</span></dt>
                <dd>
                    <span>{{taisan.nguyengia}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.soHopdongMua">So Hopdong Mua</span></dt>
                <dd>
                    <span>{{taisan.soHopdongMua}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.soHoadonMua">So Hoadon Mua</span></dt>
                <dd>
                    <span>{{taisan.soHoadonMua}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.ngayHoadon">Ngay Hoadon</span></dt>
                <dd>
                    <span>{{taisan.ngayHoadon}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.trangthai">Trangthai</span></dt>
                <dd>
                    <span>{{taisan.trangthai}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.hangSanxuat">Hang Sanxuat</span></dt>
                <dd>
                    <span>{{taisan.hangSanxuat}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.nuocSanxuat">Nuoc Sanxuat</span></dt>
                <dd>
                    <span>{{taisan.nuocSanxuat}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.congsuatSudung">Congsuat Sudung</span></dt>
                <dd>
                    <span>{{taisan.congsuatSudung}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.dientichSudung">Dientich Sudung</span></dt>
                <dd>
                    <span>{{taisan.dientichSudung}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.donviTinh">Donvi Tinh</span></dt>
                <dd>
                    <span>{{taisan.donviTinh}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.giatriConlai">Giatri Conlai</span></dt>
                <dd>
                    <span>{{taisan.giatriConlai}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.tangNguyengia">Tang Nguyengia</span></dt>
                <dd>
                    <span>{{taisan.tangNguyengia}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.nguon">Nguon</span></dt>
                <dd>
                    <span>{{taisan.nguon}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.vitri">Vitri</span></dt>
                <dd>
                    <span>{{taisan.vitri}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.donviQuanly">Donvi Quanly</span></dt>
                <dd>
                    <span>{{taisan.donviQuanly}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.donviSudung">Donvi Sudung</span></dt>
                <dd>
                    <span>{{taisan.donviSudung}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.soluong">Soluong</span></dt>
                <dd>
                    <span>{{taisan.soluong}}</span>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.nguoiQuanly">Nguoi Quanly</span></dt>
                <dd>
                    <div *ngIf="taisan.nguoiQuanlyId">
                        <a [routerLink]="['/nhanvien', taisan.nguoiQuanlyId, 'view']">{{taisan.nguoiQuanlyTen}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.danhmucTaisan">Danhmuc Taisan</span></dt>
                <dd>
                    <div *ngIf="taisan.danhmucTaisanId">
                        <a [routerLink]="['/danhmuc-taisan', taisan.danhmucTaisanId, 'view']">{{taisan.danhmucTaisanTen}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="taisanApp.taisan.donviCungcap">Donvi Cungcap</span></dt>
                <dd>
                    <div *ngIf="taisan.donviCungcapId">
                        <a [routerLink]="['/donvi-cungcap', taisan.donviCungcapId, 'view']">{{taisan.donviCungcapTen}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/taisan', taisan.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
